.welcome {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.content {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting {
    font-size: 60px;
}